{% extends(":default:inside_index.html.twig") %}
{% set pageName = contest.name %}
{% block contestClassMenu %}active{% endblock %}
{% set company = contest.company %}
{% block main %}
    {{ parent() }}
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <h3 class="profile-username text-center">{{ company.name }}</h3>
                        <p class="text-muted text-center">Organizator</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Zawody</b> <p class="pull-right">{{ company.contests | length }}</p>
                            </li>
                            <li class="list-group-item">
                                <b>Miasto</b> <p class="pull-right">{{ company.city }}</p>
                            </li>
                            <li class="list-group-item">
                                <b>Zarejestrowany</b> <p class="pull-right">{{ company.user.createdAt | date("m/d/Y") }}</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><strong>{{ contest.name }}</strong></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                        <p class="text-muted">{{ contest.adress }}, {{ contest.postCode}} {{ contest.city }}, {{ contest.country }}</p>
                        <hr>

                        <strong><i class="fa fa-phone margin-r-5"></i> Telefon</strong>
                        <p class="text-muted">{{ company.phone }}</p>
                        <hr>

                        <strong><i class="fa fa-internet-explorer margin-r-5"></i> WWW</strong>
                        <p class="text-muted"><a href="http://{{ contest.www }}">{{ contest.www }}</a></p>
                        <hr>

                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Notatka</strong>
                        <p>Krótki opis..Krótki opis.Krótki opis.Krótki opis.Krótki opis.Krótki opis.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#timeline" data-toggle="tab" aria-expanded="true">Plan</a></li>
                        <li class=""><a href="#place" data-toggle="tab" aria-expanded="false">Miejsce</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="place">
                            tu będzie mapka z miejscem
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane active" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                {% set actualDate = null %}
                                {% for race in contest.races %}
                                    {% if (race.startTime | date('d.m.Y')) != actualDate %}
                                        {% set actualDate = race.startTime | date('d.m.Y') %}
                                        <li class="time-label">
                                            <span class="bg-red">
                                              {{ actualDate }}
                                            </span>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <i class="fa fa-flag-checkered bg-blue"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> {{ race.startTime | date('H:i') }}</span>

                                            <h3 class="timeline-header">
                                                <a href="#">{{ race.name }}</a>
                                                <a class="btn btn-danger btn-xs" href="#">LIVE - Oglądaj!</a>
                                            </h3>

                                            <div class="timeline-body">
                                                <strong>Dystans</strong>
                                                <p class="text-muted">{{ race.distance }} km</p>
                                                <strong>Limit zawodników</strong>
                                                <p class="text-muted">{{ race.maxRunners }}</p>
                                                <strong>Wolne miejsca</strong>
                                                <p class="text-muted">
                                                    {{ race.maxRunners - race.raceRunners | length }}
                                                </p>
                                            </div>
                                            <div class="timeline-footer">
                                                <a class="btn btn-primary btn-xs" href="#">Zobacz więcej</a>
                                                <a class="btn btn-success btn-xs" href="#">Zapisz się!</a>
                                                <a class="btn btn-danger btn-xs" href="#">Oglądaj!</a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
{% block stylesheet %}
{% endblock %}