{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contest</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contest.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contest.name }}</td>
            </tr>
            <tr>
                <th>Www</th>
                <td>{{ contest.www }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ contest.city }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ contest.postCode }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ contest.street }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ contest.country }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if contest.startTime %}{{ contest.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if contest.endTime %}{{ contest.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contest_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contest_edit', { 'id': contest.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
